/*all pages*/
* {
    font-family: "Montserrat", sans-serif;

}

/*home page*/
#hero-img {
    max-width: 100%;
    height: 200px;
    position: absolute;

}

#hero-img img {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    /*height: auto;*/
}


.form-container {
    border: 1px solid;
    padding: 50px 60px;
}

.form-group {
    padding: 16px;
}