/*all pages*/
* {
    font-family: "Montserrat", sans-serif;

}

/*home page*/
#hero-img {
    max-width: 100%;
    height: 200px;

}

#hero-img img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.bg-img {
    background-image: url(assets/images/sipg.jpg);
    max-width: 100%;
    height: auto;
}


.form-container {
    border: 1px solid;
    padding: 50px 60px;
}
.form-group{
    padding: 16px;
}